@import "../../styles/global.scss";
.issueDesc {
  @include size(100%, 300px, 600px, 100%, 400px, 450px);
  border-radius: 1rem;
  background: $grey;
  padding: 1rem;
  @include centerFlexC;
  gap: 1.5rem;
}

.listContainer {
  @include size(100%, 250px, 500px, 300px, 300px, none);
  justify-items: flex-start;
  @include centerFlexC;
  border-radius: 8px;
  position: relative;
  gap: .5rem;
  &>div{
    &:first-child{
      @include size(100%, 250px, 500px, 20%, none, none);
      @include centerFlexR;
      @include mq(500px){
        @include centerFlexC;
        height: fit-content
      }
      &>div{
        @include size(50%,none,none, 100%, none, none);
        @include centerFlexR;
        @include mq(500px){
          width: 100%;
          justify-content: flex-start;
        }
        &:first-child{
          @include size(50%,none,none, 100%, none, none);
          
          @include mq(500px){
            width: 100%;
            justify-content: flex-start;
          }
        }
 
        
 
        color: $white;
        font-weight: 500;
        gap: 1rem;
        select,input{
          @include input
        }
       
        p{
          @include centerFlexR;
          gap: .3rem;
        }
      }
    }
    &:last-child{
      @include size(100%, 250px, 500px, 80%, none, none);
      border-radius: 8px;
      background : $white;
      padding: 1rem;
      textarea{
        @include size(100%, none, none, 100%, none, none);
        background: none;
        resize: none
      }

    }
  }
}

.delete{
    @include centerFlexC; 
}
.edit{
    @include centerFlexC;   
}

.buttons {
  @include centerFlexR;
  @include size(100%, 250px, 500px, fit-content, none, none);
  div {
    @include size(50%, none, none, fit-content, none, none);
    @include centerFlexR;
    &:first-child {
      button {
        @include button(secondary);
      }
    
    }
    &:last-child{
      button {
        @include button(primary);
      }
    }
  }
}
.link{
    cursor: pointer;
    &:hover {text-decoration: 2px underline $grey;
}}