@import '../../styles/global.scss';
.loginForm{
@include size(100%,none, 400px, 100%, none, 275px);
border-radius: 1rem;
background: $grey;
@include centerFlexC
}

.form{
    @include size(100%,350px, 350px, fit-content, 200px, none);
    @include centerFlexC;
    div{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @include size(100%,none, none, fit-content, 75px, none);

        &:last-child{
            @include centerFlexR;
            gap: 2rem;
        } 
    }
    input{
        @include input
    }
    label{
        @include label
    }
    button{
        &:first-child{
            @include button(secondary)
        }
        &:last-child{
            @include button(primary)
        }
        
    }
}