@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import './styles/global.scss';
body{
  background: $white;
};
*{
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  padding: 0;
  list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 5px;
  display: block;
  background-color: $black;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: red;
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #fafafa;
  /* color of the scroll thumb */
  
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 1px solid #fafafa;
  /* creates padding around scroll thumb */
  display: block;
}